/* top players styles */
.players{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}

.player{
    display: flex;
    align-items: center;
}

.player h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-left: 15px;

}
.player img{
    
    width: 56px;
    height: 56px;
}
